<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbiGcPQY_NfWjvhdTJrYMwjdK47_stQZc</string>
	<key>GCM_SENDER_ID</key>
	<string>969502932777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mypetfit.mypetfitApp</string>
	<key>PROJECT_ID</key>
	<string>mypetfit-c530e</string>
	<key>STORAGE_BUCKET</key>
	<string>mypetfit-c530e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969502932777:ios:5f9345233d5cccb9474138</string>
</dict>
</plist>